.container {
  background-color: white;
  padding: 1em;
  margin: 0 auto;
  margin-top: 45vh;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  min-width: 20em;
  max-width: 28em;
  width: 80%;
}

.text {
  text-align: center;
  text-transform: capitalize;
  text-indent: 1em;
}
